.price {
    width: 100%;
    height: 100vh;
    padding: 100px 200px;
    margin-top: 300px;
}
.text-top {
    text-align: center;
    line-height: 51px;
    color: #22343D;
}
/* Padding none section */
.text-top h3 {
    font-size: 33px;
    font-weight: 700;
}

.text-top p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.cards {
    display: flex;
    justify-content: space-between;
}
.card {
    padding: 30px 0px;
    margin-top: 70px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 15px -1px, rgba(0, 0, 0, 0.611) 0px 1px 3px -1px;
    width: 330px;
    height: 500px;
    border-radius: 10px;
    text-align: center;
    color: #22343D;
}
.card h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;   
}

.card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;   
}

.card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;   
}

.card span {
    font-size: 76px;
    font-weight: 700;
    color: #02897A;
}

.card h1 {
    line-height: 100px;
}
.card sup {
    color: #02897A;
    font-size: 30px;
}
.card sub {
    color: #AFAFAF;
    font-size: 16px;
    font-weight: 400;
}
.card button {
    margin-top: 35px;
    padding: 12px 20px;
}