@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.section_10{
    width: 100%;
    height: 345px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
.card_bussnes{
    width: 968px;
height: 345px;
border-radius: 32px;
background:#02897A;
display: flex;
gap: 10px;
}
.letter_and_button{
    width: 510px;
    height:240px ;
    margin-top: 49px;
margin-left: 51px;
}
.letter_and_button h1{
    width: 510px;
height: 92px;
font-family: Poppins;
font-size: 32px;
font-weight: 600;
line-height: 48.45px;
text-align: left;

}
.letter_and_button .Get_This{
    width: 150px;
    height: 50px;
    border-radius: 8px ;
    font-family: Poppins;
font-size: 20px;
font-weight: 600;
line-height: 30px;
text-align: center;
background: #ffffff;
cursor: pointer;
color: #02897A;
border: 1px solid white;
transition: 0.3s;
margin-top: 98px;
}
.letter_and_button .Get_This:hover{
    width: 150px;
    height: 50px;
    border-radius: 8px ;
    font-family: Poppins;
font-size: 20px;
font-weight: 600;
line-height: 30px;
text-align: center;
background: #02897A;
cursor: pointer;
color: #ffffff;
border: 1px solid #ffffff;
}
footer{
    width: 100%;
    height: 246px;
    margin-top: 150px;
}
.foot{
    width: 1109px;
height: 246px;
}
.foot_main{
    width: 1109px;
height: 205px;
display: flex;
}
.products_and_icons{
    width: 162.61px;
    height: 94.02px;
}
.icon_both_letter{
    width: 162.61px;
height: 29.09px;
display: flex;
gap: 16px;
align-items: center;
}
.icon_both_letter img{
    width: 32px;
height: 29.09px;
}
.icon_both_letter h1{
font-size: 23px;
font-weight: bold;
font-family: Poppins;
color: #173A56;
}
.icons_three{
    width: 152px;
    height: 40px;
    display: flex;
    gap: 16px;
    margin-top: 30px;
}
.about_informations{
    width: 118px;
height: 205px;
margin-left: 161px;
}
.about_informations h1{
    width: 94px;
height: 30px;
font-family: Poppins;
font-size: 20px;
font-weight: 500;
line-height: 30px;
text-align: left;
color: #22343D;
}
.both_letter{
    width: 72px;
height: 140px;
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 35px;
text-align: left;
color: #22343D;
margin-top: 8px;
}
.about_informations_2{
    width: 131px;
height: 205px;
margin-left: 129px;

}
.about_informations_2 h1{
    width: 105px;
height: 30px;
font-family: Poppins;
font-size: 20px;
font-weight: 500;
line-height: 30px;
text-align: left;
}
.about_informations_2 .both_letter_2{
    width: 132px;
height: 140px;
margin-top: 8px;
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 35px;
text-align: left;
color: #22343D;
}
.singup_now_cont{
    width: 325px;
height: 199px;
margin-left: 82px;
}
.singup_now_cont h1{
    width: 280px;
height: 57px;
font-family: Poppins;
font-size: 20px;
font-weight: 500;
line-height: 30px;
text-align: left;
color: #22343D;
}
input{
    margin-top: 34px;
    width: 325px;
height: 48px;
border-radius: 10px;
box-shadow: 0px 1px 10px 3px rgb(126, 123, 123);
border: 1px solid grey;
padding-left: 10px;
}
.singup_now_btn{
    width: 131px;
height: 39px;
border-radius: 5px;
border: 1px solid #02897A;
background:#02897A;
font-family: Poppins;
font-size: 16px;
font-weight: 700;
line-height: 24px;
text-align: center;
color: white;
margin-top: 26px;
transition: 0.3s;
}
.singup_now_btn:hover{
    width: 131px;
height: 39px;
border-radius: 5px;
border: 2px solid #02897A;
background:#feffff;
font-family: Poppins;
font-size: 16px;
font-weight: 700;
line-height: 24px;
text-align: center;
color: #02897A;
margin-top: 26px;
}
.foot h6{
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 30px;
text-align: center;

}